**DATA TYPES AND STRUCTURES**
1. What are data structures and why are they important ?
- Data structures are specialized formats for organizing, storing and acessing collections
of data. They provide efficient ways to manage information based on it’s characteristics
and intended use. They are important because -

- (a) Choosing the right data structure significantly impacts the efficeincy and performanc
of the program.

- (b) Well- chosen data structures can.
- (c) Simplify data manipulation ( adding, removing, modifying elements).
- (d) Optimize searching and sorting operations.
- (e) Conserve memory usage.
2. Explain the difference between mutable and immutable data types with examples.
- Mutable objects can be modified after they are created. Examples : **list, dictionary,set.**
Immutable objects cannot be modified after they are created. Examples : String, tuple.
3. What are the main differences between lists and tuples in python ?
- Lists are mutable and enclosed by “[ ]” whereas tuples are immutable and enclosed by
“( )” .
4.  Describe how dictionaries store data.
- Dictionaries in python store data in the form of key-value pair.
5. Why might you use a set instead of a list in python ?
- We might use a set instead of a list in python as set does not allow duplication of
elements.
6. What is a string in python and how is it different from a list ?
- String in python is a sequence of character to represent and manipulated textual data.
It is different from a list as string is immutable and not enclosed by square brackets.
7. How do tuples ensure data integrity in python ?
- As tuples are immutable, so this characteristic of it ensures data integrity in python.
8. What is a hash table and how does it relate to dictionaries in python ?
- A hash table is a data structure that maps keys to values using a hash function to compute
an index into an array of buckets or slots. It relates to dictionaries in python as dictionaries
are implemented using hash tables.
9. Can lists contain different data types in python ?
- Yes, list can contain different data types in python.
10. Explain why strings are immutable in python ?
- Strings are immutable in python as after their creation , they cannot be changed. Immutablity
helps with performance optimatization, memory efficiency and thread safety.
1
11. What advantages do dictionaries offer over lists for certain tasks ?
- The advantages do dictionaries offer over lists for certain tasks as dictionaries store data in
the form of key-value pair and also dictionaries are more readable and descriptive.
12. Describe a scenario where using a tuple would be prefferable over a list.
- A tuple would be prefferable over a list as tuple is immutable , so it can be used when the
data is constant and should not be accidently modified.
13. How do sets handle duplicate values in python ?
- Sets in python handle duplicate values by automatically eliminate duplicate values as all
elements in it must be unique.
14. How does the “in” keyword work differently for lists and dictionaries ?
- The “in” keyword for list checks if a value exits in the lists whereas “in” checks if a key
exits in dictionary (not the value ).
15. Can you modify the elements of a tuple ? Explain why or why not.
- Elements of a tuple cannot be modify as tuple is immutable as once they are created , cannot
be changed.
16. What is nested dictionary and an example of its use cases ?
- Nested dictionary means dictionary inside a dictionary. Example of it’s use case- pupil=
{“user1”:{“name”:“A”,“age”:20},“user2”:{“name”:“B”,“age”:24}}
17. Describe the time complexity of accessing elements in the dictionary.
- The time complexity of accessing elements in the dictionary is , on average,O(1)
18. In what situations are lists preffered over dictionaries ?
- When data naturally fits a sequence ,where order and positional access are important and
duplicates are acceptable, in this list is the preffered over dictionary.
19. Why are dictionaries considered unordered and how does that affect data retrieval ?
- Dictionaries are considered unordered because items do not have a defined order, cannot
refer to an item by using an index. We cannot retrieve the items by using integer indices
like my_dict[0]

,
 then we must know the exact key to retrive it’s associated value. Data
retrieval is inherently driven by the key.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of elements,where elements are accessed by using their index(position) and here time complexity is O(1) (constant time).

A dictionary is an unordered
collection of key-value pairs , where items are accessed using a unique key(not position) and
here time complexity is on average is O(1).

 **Data types and structres Practical questions.**

In [1]:
#1.Write a code to create a string with your name and print it.
name = "Sartaj Fatima"
print(name)

Sartaj Fatima

In [2]:
#2.Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase.
string="hello"
uprString = string.upper()
print(uprString)

HELLO

In [6]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
String = "I like mango"
repString = String.replace('mango', 'apple')
print(repString)

I like apple

In [7]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numList= [1,2,3,4,5]
print(numList)

[1, 2, 3, 4, 5]

In [8]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
numList=[1, 2, 3, 4]
numList.append(10)
print(numList)

[1, 2, 3, 4, 10]

In [9]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
nulList= [1, 2, 3, 4, 5]
nulList.remove(3)
print(nulList)

[1, 2, 4, 5]

In [10]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
alphList=['a', 'b', 'c', 'd']
print(alphList[1])

b

In [11]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numList=[10, 20, 30, 40, 50]
print(numList[::-1])

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
fisrtTuple = (100,200,300)
print(fisrtTuple)

(100, 200, 300)

In [13]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colTuple = ('red', 'green', 'blue', 'yellow')
print(colTuple[-2])

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numTuple = (10, 20, 5, 15)
print(min(numTuple))

5

In [15]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
aniTuple = ('dog', 'cat', 'rabbit')
print(aniTuple.index('cat'))

1

In [16]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruTuple = ('Apple','mango','kiwi')
ifKiwi= 'kiwi' in fruTuple
print(ifKiwi)

True

In [17]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
alphSet = {'a','b','c'}
print(alphSet)

{'a', 'b', 'c'}

In [18]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
alphSet =  {1, 2, 3, 4, 5}
clearSet = alphSet.clear()
print(clearSet)

None

In [20]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
alphaSet = {1, 2, 3, 4}
remSet= alphaSet.remove(4)
print(alphaSet)

{1, 2, 3}

In [21]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setUnion = set1.union(set2)
print(setUnion)

{1, 2, 3, 4, 5}

In [22]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setIntersect= set1.intersection(set2)
print(setIntersect)

{3}

In [2]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
perDict = {'name':'Sartaj Fatima', 'age':'19', 'city':'Jamshedpur'}
print(perDict)

{'name': 'Sartaj Fatima', 'age': '19', 'city': 'Jamshedpur'}

In [25]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
perDict = {'name':'John', 'age':'25',}
perDict['Country']='USA'
print(perDict)

{'name': 'John', 'age': '25', 'Country': 'USA'}

In [26]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
persDict = {'name': 'Alice', 'age': 30}
val = persDict['name']
print(val)

Alice

In [27]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
bobdict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
remDic = bobdict.pop('age')
print(remDic)
print(bobdict)

22
{'name': 'Bob', 'city': 'New York'}

In [28]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
nameDict = {'name': 'Alice', 'city': 'Paris'}
doExist = 'city' in nameDict
print(doExist)

True

In [30]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
exList=['Avya','Anjali','Shalz']
exTuple=('Kirti','Tanu','Bhavya')
exDict={'Name':'Kirt','Age':'24','Relation':'wife'}
print(exList)
print(exTuple)
print(exDict)

['Avya', 'Anjali', 'Shalz']
('Kirti', 'Tanu', 'Bhavya')
{'Name': 'Kirt', 'Age': '24', 'Relation': 'wife'}

In [31]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[7, 25, 33, 66, 85]

In [32]:
#28.Write a code to create a list with strings and print the element at the third index.
strList=['Tanu','Ajeet','Avya','Anjali','Shalz']
thirdIndex=strList[4]
print(thirdIndex)

Shalz

In [33]:
#29. Write a code to combine two dictionaries into one and print the result.
Dict1={'Name':'Bhavya','Age':'26','Relation':'wife'}
Dict2={'MarriageDate':'29/07/2021'}
combDict={**Dict1,**Dict2}
print(combDict)

{'Name': 'Bhavya', 'Age': '26', 'Relation': 'wife', 'MarriageDate': '29/07/2021'}

In [34]:
#30.Write a code to convert a list of strings into a set.
string_list = ["Cherry", "Guava", "apple", "Cherry", "banana"]
string_set = set(string_list)
print(string_set)

{'Cherry', 'apple', 'Guava', 'banana'}